*+
*-
*.exe
.redo/
/.*history
/.cache/
/.cargo/
/.lesshst
/.local/
/.secret/
/.ssh/
/.termux/
/bin/*
/bin/src/bin/*
/bin/src/musl/
/src/ext/
/src/magisk/
/src/rust/*
/tmp/
!/bin/*.do
!/bin/all.list
!/bin/src/
!/bin/src/bin/*.*
!/src/rust/*.*
