*+
*-
*.a
*.exe
*.log
*.o
.redo/
/.*history
/.cache/
/.cargo/
/.lesshst
/.local/
/.secret/
/.ssh/
/.termux/
/bin/*
/bin/src/bin/*
/src/ext/
/src/magisk/
/src/rust/*.binary
/src/rust/*/
/tmp/
!/bin/*.do
!/bin/all.list
!/bin/src/
!/bin/src/bin/*.do
!/bin/src/bin/*.sh
